@use "sass:math";

.helsinki-events {
  background-color: rgb(247, 247, 248);
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  max-width: 100vw;
  width: 100vw;
  padding-top: 64px;
  padding-bottom: 64px;

  @extend %helsinki-block-spacing;

  @media screen and (min-width: 992px) {
	  margin-bottom: var(--spacing-4-xl);
  }

  .events__excerpt {
    margin-bottom: 0;
  }

  .events__count {
    margin-bottom: 16px;

    &:not(:first-child) {
      @extend %helsinki-block-content-spacing;
    }
  }

  .events__grid {
    margin-bottom: 24px;

    .events__grid__item {
      background-color: #fff;
      margin-bottom: 24px;
      padding: 16px;

      @media screen and (min-width: 768px) {
        padding: 24px;
      }
    }

    @media screen and (min-width: 576px) {
      display: flex;
      column-gap: 24px;
      flex-wrap: wrap;
      justify-content: left;

      .events__grid__item {
        .event {
          height: 100%;

          .event__content {
            display: flex;
            flex-wrap: wrap;
            height: 100%;
            flex-grow: 1;

            > * {
              width: 100%;
            }

            .event__more {
              align-self: flex-end;
            }
          }
        } // .event
      } // .events__grid__item
    }

  } // .events__grid

  .events__more {
    margin: 0;
  }

  .hds-pagination-container {
    .hds-pagination__pages {
      margin-top: 8px;
    }
  }

  .event {
    display: flex;
    word-wrap: anywhere;

    @media screen and (min-width: 576px) {
      flex-direction: row-reverse;
      gap: 16px;
    }

    p {
      margin-bottom: 0;
      word-break: break-word;
    }

    .event__image {
      overflow: hidden;
      position: relative;
      width: 100%;
      margin-bottom: 16px;

      @media screen and (min-width: 576px) {
        margin-bottom: 0;
        flex-basis: 30%;
        flex-shrink: 0;
      }

      @media screen and (min-width: 576px) {
        flex-direction: row-reverse;
        gap: 16px;
      }

      .placeholder {
        background-color: var(--primary-color, #f7f7f7);
        padding-bottom: 56.25%;
        width: 100%;
        position: relative;

        .icon {
          position: absolute;
          left: 25%;
          top: 25%;
          width: 50%;
          height: 50%;
          fill: #fff;

          &.mask-icon {
            background-color: #fff;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-position: center;
            mask-position: center;
          }

        }
      }
    }

    .event__link {
      .event__icon {
        display: inline;
        margin: 0 0 0 0.5rem;
        width: 24px;
      }
    }

    .event__title {
      font-size: 24px;
      line-height: 32px;
      margin: 0 0 16px;

      @media screen and (min-width: 992px) {
        font-size: 32px;
      }
    }

    .event__icon {
      margin-right: 16px;
      width: 32px;

      @media screen and (min-width: 768px) {
        width: 48px;
      }
    }

    .event__detail {
      align-items: flex-start;
      display: flex;

      label {
        font-weight: 700;
      }

      .event__icon {
        flex: 0 0 24px;
      }

      + .event__detail {
        margin-top: 16px;
      }
    }

    .event__venue {
      font-style: normal;
      margin-bottom: 0;
    }

    .event__tags {
      margin-top: 16px;
      margin-left: -4px;
      margin-right: -4px;
      margin-bottom: -8px;

      li {
        font-weight: 500;
        margin-left: 4px;
        margin-right: 4px;
        margin-bottom: 8px;
      }

    }

    .event__more {
      margin-top: 16px;
      width: 100%;
    }
  } // .event

} // .helsinki-events
