@use "sass:math";

.helsinki-events {
  background-color: rgb(247, 247, 248);
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  max-width: 100vw;
  width: 100vw;
  padding-top: 64px;
  padding-bottom: 64px;

  .events__title {}

  .hds-container {
    padding: 0;
  }

  .events__container {}

  .events__grid {
    margin-bottom: 24px;

    .events__grid__item {
      margin-bottom: 24px;
    }

    @media screen and (min-width: 992px) {
      display: flex;
      column-gap: 24px;
      flex-wrap: wrap;
      justify-content: left;

      .events__grid__item {
        flex: 0 0 calc(33% - 14px);

        .event {
          height: 100%;

          .event__link {
            display: flex;
            flex-direction: column;
            height: 100%;
          }

          .event__content {
            display: flex;
            flex-wrap: wrap;
            height: 100%;

            > * {
              width: 100%;
            }

            .event__more {
              align-self: flex-end;
            }
          }
        }
      }
    }

  }

  .events__more {
    text-align: center;
    margin: 0;

    .button {}
  }

  .event {

    a {
      text-decoration: none;
    }

    p {
      margin-bottom: 0;
      word-break: break-word;
    }

    .event__image {
      overflow: hidden;
      padding-top: 64.4%;
      position: relative;
      width: 100%;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-height: 100%;
        width: 100%;
        max-width: none;
      }

      .placeholder {
        background-color: var(--primary-color, #f7f7f7);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    }

    .event__content {
      background-color: #fff;
      padding: 16px 16px 24px;
    }

    .event__title {
      font-size: 24px;
      font-weight: 500;
      line-height: 28px;
      margin: 0 0 24px;
    }

    .event__icon {
      margin-right: 16px;
      width: 24px;
    }

    .event__detail {
      align-items: flex-start;
      display: flex;
      font-size: 16px;

      > * {}

      .event__icon {
        flex: 0 0 24px;
      }

      + .event__detail {
        margin-top: 16px;
      }
    }

    .event__date {}

    .event__venue {
      font-style: normal;
      margin-bottom: 0;
    }

    .event__prices {

      .price {}

    }

    .event__more {
      margin-top: 16px;
      width: 100%;
    }

  }

}
