body.wp-admin .editor-styles-wrapper {

  @import '../../common/scss/blocks/general';

  .wp-block-helsinki-linkedevents-grid {

    .events__title {
      margin-top: 0;
    }

    .hds-container {
      margin-left: auto;
      margin-right: auto;
    }

    .event__detail {
      color: #000;

      p {
        margin-top: 0;
      }
    }

    &.is-selected {
      .events__count {
        @extend %helsinki-block-content-spacing;
      }
    }

  }

}
