.wp-block-helsinki-linkedevents-grid {
  --background-color: var(--color-silver-light, #f7f7f8);
  --vertical-margin:var(--spacing-layout-s, 32px);

  margin-top:var(--vertical-margin);
  margin-bottom:var(--vertical-margin);
}

.helsinki-events {
  --event-cards-gap: var(--spacing-s, 16px);

  background-color:var(--background-color);
  margin-left:calc(50% - 50vw);
  margin-right:calc(50% - 50vw);
  max-width:100vw;
  width:100vw;
  padding-top:64px;
  padding-bottom:64px;
}

.helsinki-events .events__container:not(:first-child) {
  margin-top:var(--spacing-m, 24px);
}

.helsinki-events .events__excerpt {
  margin-bottom:0;
}

.helsinki-events .events__count {
  margin-bottom:16px;
}

.helsinki-events .events__grid {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  gap:16px;
  margin-bottom:24px;
}

.helsinki-events .hds-pagination-container .hds-pagination__pages {
  margin-top:8px;
}

.helsinki-events .card {
  background-color: var(--event-card-background-color, #fff);
  padding: var(--event-card-padding, var(--spacing-s, 16px));
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:var(--event-card-direction, column);
  flex-direction:var(--event-card-direction, column);
  gap:var(--event-card-flex-gap, var(--spacing-s, 16px));
  word-wrap:anywhere;
}

.helsinki-events .card + .card {
  margin-top: var(--event-cards-gap);
}

.helsinki-events .card p {
  word-break:break-word;
}

.helsinki-events .card .card__image {
  -ms-flex-preferred-size:var(--event-card-image-size, 100%);
  flex-basis:var(--event-card-image-size, 100%);
  -ms-flex-negative:0;
  flex-shrink:0;
  overflow:hidden;
  position:relative;
  width:100%;
}

.helsinki-events .card .card__image img {
  display:block;
}

.helsinki-events .card .card__image .placeholder {
  background-color:var(--primary-color,#f7f7f7);
  padding-bottom:56.25%;
  width:100%;
  position:relative;
}

.helsinki-events .card .card__image .placeholder .icon {
  position:absolute;
  left:25%;
  top:25%;
  width:50%;
  height:50%;
  fill:var(--color-white, #fff);
}

.helsinki-events .card .card__image .placeholder .icon.mask-icon {
  background-color:var(--color-white, #fff);
  -webkit-mask-repeat:no-repeat;
  mask-repeat:no-repeat;
  -webkit-mask-position:center;
  mask-position:center;
}

.helsinki-events .card .card__text {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-box-flex:1;
  -ms-flex-positive:1;
  flex-grow:1;
  gap:var(--spacing-s, 16px);
}

.helsinki-events .card .card__text > * {
  margin:0;
}

.helsinki-events .card .hel-icon {
  -webkit-margin-end:var(--spacing-s, 16px);
  margin-inline-end:var(--spacing-s, 16px);
  width: var(--icon-size, 32px);
  height: var(--icon-size, 32px);
}

.helsinki-events .card .card__link .link__type {
  display:inline-block;
  -webkit-margin-start: var(--spacing-2-xs, .5rem);
  margin-inline-start: var(--spacing-2-xs, .5rem);
}

.helsinki-events .card .card__link .link__type .hel-icon {
  --icon-size: 24px;
}

.helsinki-events .card .content-tags__tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  margin-block: 0;
  padding-inline-start: 0;
}

.helsinki-events .card .content-tags__tags--static .content-tags__tags__tag--fog-medium-light {
  background-color: var(--color-fog-medium-light, #d0e6f7);
}

.helsinki-events .card .content-tags__tags__tag {
  list-style: none;
  margin: 0;
  max-width: 100%;
}

.helsinki-events .card .card__meta {
  -webkit-box-align:start;
  -ms-flex-align:start;
  align-items:flex-start;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}

.helsinki-events .card .card__meta + .card__meta {
  margin-top: var(--spacing-2-xs, 8px);
}

.helsinki-events .card .card__meta__label {
  flex: 0 0 auto;
  font-weight:700;
  -webkit-margin-end:4px;
  margin-inline-end:4px;
}

.helsinki-events .card .card__meta__icon {
  -webkit-box-flex:0;
  -ms-flex:0 0 24px;
  flex:0 0 24px;
}

.helsinki-events .card .event__venue {
  font-style:normal;
}

.helsinki-events .card .event__tags {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  gap:8px;
  list-style:none;
}

.helsinki-events .card .event__tags li {
  font-weight:500;
}

.helsinki-events .hds-pagination-container {
  margin-top: var(--spacing-l, 32px);
}

.helsinki-events .hds-pagination-container .hds-button {
  --button-background-color: transparent;
  --button-border-color: transparent;
  --button-color: var(--color-black, #000);
  --button-icon-color: var(--button-color);
}

.helsinki-events .hds-pagination-container .hds-button:not([disabled]):hover {
  text-decoration: underline;
}

.helsinki-events .hds-pagination-container .hds-button[disabled] {
  --button-color: var(--color-black-40, #999);
}

.helsinki-events .hds-pagination-container .hds-button .hds-pagination__button-prev-label,
.helsinki-events .hds-pagination-container .hds-button .hds-pagination__button-next-label {
  color: var(--button-color);
}

.helsinki-events .see-all-button__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: var(--spacing-l, 32px);
  margin-top: var(--spacing-l, 32px);
}

@media screen and (min-width:576px) {
  .helsinki-events .card {
    --event-card-direction:row-reverse;
    --event-card-flex-gap:24px;
    --event-card-image-size:25%;
  }
}

@media screen and (min-width:768px) {
  .wp-block-helsinki-linkedevents-grid {
    --vertical-margin:var(--spacing-layout-l, 64px);
  }

  .helsinki-events .events__container:not(:first-child) {
    margin-top:var(--spacing-2-xl, 48px);
  }

  .helsinki-events .card {
    --event-card-padding: var(--spacing-m, 24px);
  }

  .helsinki-events .hds-pagination-container {
    margin-top: var(--spacing-4-xl, 64px);
  }

  .helsinki-events .see-all-button__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
