.wp-block-helsinki-linkedevents-grid {
  --background-color: var(--color-black-5, #f2f2f2);
  --vertical-margin:var(--spacing-layout-s, 2rem);

  margin-top:var(--vertical-margin);
  margin-bottom:var(--vertical-margin);
}

.helsinki-events {
  --event-cards-gap: var(--spacing-s, 1rem);

  background-color:var(--background-color);
  margin-left:calc(50% - 50vw);
  margin-right:calc(50% - 50vw);
  max-width:100vw;
  width:100vw;
  padding-top:4rem;
  padding-bottom:4rem;
}

.helsinki-events .events__container:not(:first-child) {
  margin-top:var(--spacing-m, 1.5rem);
}

.helsinki-events .events__excerpt {
  margin-bottom:0;
}

.helsinki-events .events__count {
  margin-bottom: 1rem;
}

.helsinki-events .events__grid {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  gap: var(--spacing-s, 1rem);
  margin-bottom: var(--spacing-m, 1.5rem);
}

.helsinki-events .hds-pagination-container .hds-pagination__pages {
  margin-top: var(--spacing-2-xs, .5rem);
}

.helsinki-events .card {
  background-color: var(--event-card-background-color, #fff);
  cursor: pointer;
  padding: var(--event-card-padding, var(--spacing-s, 1rem));
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:var(--event-card-direction, column);
  flex-direction:var(--event-card-direction, column);
  gap:var(--event-card-flex-gap, var(--spacing-s, 1rem));
  word-wrap:anywhere;
}

.helsinki-events .card + .card {
  margin-top: var(--event-cards-gap);
}

.helsinki-events .card p {
  word-break:break-word;
}

.helsinki-events .card .card__image {
  -ms-flex-preferred-size:var(--event-card-image-size, 100%);
  flex-basis:var(--event-card-image-size, 100%);
  -ms-flex-negative:0;
  flex-shrink:0;
  overflow:hidden;
  position:relative;
  width:100%;
}

.helsinki-events .card .card__image img {
  display:block;
}

.helsinki-events .card .card__image .placeholder {
  background-color:var(--primary-color,#f7f7f7);
  padding-bottom:56.25%;
  width:100%;
  position:relative;
}

.helsinki-events .card .card__image .placeholder .icon {
  position:absolute;
  left:25%;
  top:25%;
  width:50%;
  height:50%;
  fill:var(--color-white, #fff);
}

.helsinki-events .card .card__image .placeholder .icon.mask-icon {
  background-color:var(--color-white, #fff);
  -webkit-mask-repeat:no-repeat;
  mask-repeat:no-repeat;
  -webkit-mask-position:center;
  mask-position:center;
}

.helsinki-events .card .card__text {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-box-flex:1;
  -ms-flex-positive:1;
  flex-grow:1;
  gap:var(--spacing-s, 1rem);
}

.helsinki-events .card .card__text > * {
  margin:0;
}

.helsinki-events .card .hel-icon {
  -webkit-margin-end:var(--spacing-s, 1rem);
  margin-inline-end:var(--spacing-s, 1rem);
  width: var(--icon-size, 2rem);
  height: var(--icon-size, 2rem);
}

.helsinki-events .card .card__link .link__type {
  display:inline-block;
  -webkit-margin-start: var(--spacing-2-xs, .5rem);
  margin-inline-start: var(--spacing-2-xs, .5rem);
}

.helsinki-events .card .card__link .link__type .hel-icon {
  --icon-size: 1.5rem;
}

.helsinki-events .card .content-tags__tags {
  --background-color:var(--color-black-10, #e6e6e6);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--spacing-2-xs, .5rem);
  margin-block: 0;
  padding-inline-start: 0;
}

.helsinki-events .card .content-tags__tags--static .content-tags__tags__tag--fog-medium-light {
  background-color: var(--color-fog-medium-light, #d0e6f7);
}

.helsinki-events .card .content-tags__tags__tag {
  list-style: none;
  margin: 0;
  max-width: 100%;
}

.helsinki-events .card .card__meta {
  -webkit-box-align:start;
  -ms-flex-align:start;
  align-items:flex-start;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}

.helsinki-events .card .card__meta + .card__meta {
  margin-top: var(--spacing-2-xs, .5rem);
}

.helsinki-events .card .card__meta__label {
  flex: 0 0 auto;
  font-weight:700;
  -webkit-margin-end:var(--spacing-3-xs, .25rem);
  margin-inline-end:var(--spacing-3-xs, .25rem);
}

.helsinki-events .card .card__meta__icon {
  -webkit-box-flex:0;
  -ms-flex:0 0 1.5rem;
  flex:0 0 1.5rem;
}

.helsinki-events .card .event__venue {
  font-style:normal;
}

.helsinki-events .card .event__tags {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  gap: var(--spacing-2-xs, .5rem);
  list-style:none;
}

.helsinki-events .card .event__tags li {
  font-weight:500;
}

.helsinki-events .hds-pagination-container {
  margin-top: var(--spacing-l, 2rem);
}

.helsinki-events .see-all-button__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: var(--spacing-l, 2rem);
  margin-top: var(--spacing-l, 2rem);
}

.helsinki-events .see-all-button__container .hds-button .link__type {
  margin-inline-start: var(--spacing-2-xs, .5rem);
}

@media screen and (min-width:36rem) {
  .helsinki-events .card {
    --event-card-direction:row-reverse;
    --event-card-flex-gap: 1.5rem;
    --event-card-image-size:25%;
  }
}

@media screen and (min-width:48rem) {
  .wp-block-helsinki-linkedevents-grid {
    --vertical-margin:var(--spacing-layout-l, 4rem);
  }

  .helsinki-events .events__container:not(:first-child) {
    margin-top:var(--spacing-2-xl, 3rem);
  }

  .helsinki-events .card {
    --event-card-padding: var(--spacing-m, 1.5rem);
  }

  .helsinki-events .hds-pagination-container {
    margin-top: var(--spacing-4-xl, 4rem);
  }

  .helsinki-events .see-all-button__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
